extends layout

block content
	h1=title
	if errors
		ul.errors
			each error, i in errors
				li.alert-danger #{error.msg}
	br
	form(method='post', action='/categories/add')
		.form-group
			label Name:
			input.form-control(name='name', type='text')
		input.btn.btn-default(name='submit',type='submit',value='Save')