extends layout

block content
	h1=title
	if errors
		ul.errors
			each error, i in errors
				li.alert-danger #{error.msg}
	br
	form(method='post', action='/posts/add', enctype="multipart/form-data")
		.form-group
			label Title:
			input.form-control(name='title', type='text')
		.form-group
			label Category
			select.form-control(name='category')
				each category in categories
					option(value='#{category.name}') #{category.name}
		.form-group
			label Body
			textarea.form-control(name='body', id='body')
		br
		.form-group
			label Main Image:
			input.form-control(name='mainimage', type='file')
		.form-group
			label Author:
			select.form-control(name='author')
				each author in authors
					option(value='#{author.name}') #{author.name}
		input.btn.btn-default(name='submit',type='submit',value='Save')

		script(src='/ckeditor/ckeditor.js')
		script
			| CKEDITOR.replace('body');