extends layout

block content
  h1= title
  if posts
   each post, i in posts
    .post
     h2
      a(href='/posts/show/#{post._id}')
       =post.title
     p.meta Posted in
      a(href='/categories/show/#{post.category}') #{post.category}
      | - by #{post.author}, on #{moment(post.date).format("DD-MM-YYYY")}
     if post.mainimage
       img(src='/images/#{post.mainimage}')
       br
     !=truncateText(post.body,400)
     a.more(href='/posts/show/#{post._id}') Read More
