extends layout

block content
    .post
     h1=post.title
     p.meta Posted in
      a(href='/categories/show/#{post.category}') #{post.category} 
      | - by #{post.author}, on #{moment(post.date).format("MM-DD-YYYY")}
     img(src='/images/#{post.mainimage}')
     !=post.body
     br
     hr
     if post.comments
      h3 Comments
      each comment, i in post.comments
       .comment
        p.comment-name #{comment.name}
        p.comment-body #{comment.body}
      br
    h3 Add Comment
    if errors
     ul.errors
      each error, i in errors
       li.alert-danger #{error.msg}
     br
    form.comment-form(method='post', action='/posts/addcomment')
     input(name='postid', type='hidden', value='#{post._id}')
     .form-group
      label Name
      input.form-control(type='text', name='name')
     .form-group
      label Email
      input.form-control(type='text', name='email')
     .form-group
      label Body
      textarea.form-control(type='text', name='body')
     br
     input.btn.btn-default(type='submit', name='submit',value='Add Comment')


